html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Helvetica, sans-serif;
}

/**
 * LAYOUT STYLES
 */

body {
    line-height: 1.7em;
    font-size: 13px;
}

a {
    color: rgba(60, 60, 240, 0.9);
    text-decoration: none;
}
  a:hover, a:focus {
      color: rgba(75, 75, 255, 1.0);
}

.l-box {
    padding: 1.5em;
}

.s-box {
    padding: 1em;
}

/*
 * PURE BUTTON STYLES
 */
.pure-button {
    background-color: rgba(255, 255, 255, 0.01);
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: rgba(255, 255, 255, 0.01);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 120%;
    padding: 0.5em 1em;
    font-weight: 200;
}

/**
 * FORM STYLES
 */

.menu-form {
  margin: 1em 0em;
  text-align: center;
}

.menu-date-input {
  width: 50%;
  background-color: rgba(10, 10, 10, 1);
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  color: white;
  font-size: 200%;
  letter-spacing: 0.08em;
}
  .menu-date-input:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
   color: rgba(245, 40, 40, 1);
  }
  :-moz-placeholder { /* Firefox 18- */
     color: rgba(245, 40, 40, 1);
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba(245, 40, 40, 1); 
  }
  :-ms-input-placeholder {  
     color: rgba(245, 40, 40, 1); 
  }

.menu-form-button {
  margin: 2em 0em;
  width: 25%;
  border: 1px solid #bbb;
  color: #ddd;
  font-size: 120%;
  padding: 0.75em 1em;
}
  .menu-form-button:hover, .menu-form-button:focus {
    color: white;
    border: 1px solid white;
  }


/**
 * MENU STYLES
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 2px 1px rgba(0,0,0, 0.6);
    max-height: 40px;
}
    .home-menu.pure-menu-open {
        background: rgba(25, 25, 25, 1.0);
    }
    .pure-menu.pure-menu-open.pure-menu-fixed {
        /* Fixed menus normally have a border at the bottom. */
        border-bottom: none;
        /* I need a higher z-index here because of the scroll-over effect. */
        z-index: 4;
    }

    .home-menu .pure-menu-heading {
        color: white;
        font-weight: 400;
        font-size: 120%;
        letter-spacing: 2px;
    }

        .home-menu .pure-menu-selected a {
            color: white;
            background-color: rgba(30, 30, 30, 1.0);
        }

        .home-menu a {
            color: white;
        }
        .home-menu li a:hover, .home-menu li a:focus {
            background: none;
            border: none;
            color: rgba(175, 175, 175, 1.0);
        }

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

 .splash-background-container {
    z-index: 0;
    content: "";

    width: 100%;
    height: 88%;
    position: fixed !important;
    top: 0;
    left: 0;

    display: block;
    background: url('../images/pizza_banner_crop1.png');
    background-position: -10px 0px;
    overflow: hidden;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }

.splash-container {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 55%;
    margin: auto;
    position: absolute;
    top: -25%; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: 300;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    border-radius: 5px;
    line-height: 1em;
    background: rgba(255, 255, 255, 0.1);
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    font-weight: 100;
    letter-spacing: 0.05em;
    opacity: 0.98;
    font-size: 24px;
}

.splash-closer {
    color: white;
    font-weight: 200;
    letter-spacing: 0.08em;
    font-size: 20px;
}

/**
 * CONTENT STYLES
 */

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

/* flip the colors of content */
.invert-content-wrapper {
  background: black;
  color: white;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0 1em;
    padding-top: 1em;
    text-align: center;
}

/* lets make it a bit bigger */
.invert-content-head {
  font-size: 175%;
  font-weight: 100;
}

/* content smaller head is bigger than subhead but smaller than head */
.content-smaller-head {
  letter-spacing: 0.05em;
  width: 60%;
  margin-left: 20%;
  line-height: 1.2em;
  font-size: 170%;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: rgba(20, 20, 20, 1);
}

.footer {
  background-color: rgba(225, 225, 225, 1);
  color: #333;
  text-align: center;
  font-size: 100%;
}

/**
 * BIG STUFF STYLES
 */

@media (min-width: 48em) {
    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
            padding-right: 1em;
        }


    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 70%;
        height: 60%;
    }

    .splash-head {
        font-size: 250%;
    }

}

/*
 * EVEN BIGGER STYLES
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 60%;
        height: 50%;
    }

}

/**
 *
 * SUPER-SECTION: MENU RESULT STYLES
 *
 */

.menu-box {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.menu-splash-container {
  background-color: rgba(177, 6, 43, 1);
    /* The following styles are required for the "scroll-over" effect */
  height: 100%; /* should be ~ 35 - 40% after load */
}
  .menu-splash-container-reduced-height {
    height: 36%;
  }

.menu-splash {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}

.menu-splash-head {
    color: white;
    border: none;
    padding: 0.7em 0.5em;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.01);
}

.menu-content-wrapper {
  position: absolute;
  top: 35%;
  width: 100%;
  min-height: 65%;
  z-index: 2;
  background: white;
  display: none;
}

.menu-gray-content-wrapper {
  background-color: #eee;
  color: #222;
}

.menu-content-head {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 1em 1em 3em;
  padding-top: 0.5em;
  font-size: 2em;
}

.menu-subhead {
  text-align: center;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 300;
}

#dining-text {
  color: white;
  font-size: 3em;
}

.menu-icon {
  position: absolute;
  top: 60px;
  left: 50px;
  font-size: 80px;
  color: black;
}

.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.menu-icon-mirror {
  position: absolute;
  top: 60px;
  right: 50px;
  font-size: 80px;
  color: black;
}

.menu-sub-icon-mirror {
  z-index: 5;
  right: 5px;
  top: 30px;
  font-size: 60px;
}

.menu-sub-icon {
  z-index: 5;
  left: 5px;
  top: 30px;
  font-size: 60px;
}

.ban-icon {
  color: red;
}

.check-icon {
  color: rgba(16, 193, 25, 1);
}

.menu-p {
  font-size: 125%;
  font-weight: 200;
}

.menu-ad {
  position: fixed;
  z-index: 10;
  opacity: 0.85;
}

/**
 * MENU BIG STUFF STYLES
 */

@media (min-width: 48em) {
  .menu-box {
    width: 60%;
    margin-left: 18%;
  }
}

/*
 * MENU EVEN BIGGER STYLES
 */
@media (min-width: 78em) {

}
